--swiftversion 6.0
--indent 4
--allman false
--wraparguments before-first
--maxwidth 120
--disable redundantSelf
--modifierorder nonisolated,override,private,public,internal,fileprivate,open,static,class,final,lazy,required,optional,convenience,dynamic,weak,unowned,mutating,nonmutating
